
:root{
    --roxoClaro:#902bb4;
    --pink:#e52bcb;
   --roxoEscuro: #741f68;
}
span{
    color: var(--roxo1);
}

.navColor{
    color: var(--roxo1) !important;
}

.cont{
        display: flex;
        align-items: center;
        flex-direction: column !important;
}
.cardo{
    margin-top: 30px !important;
}

.btnC{
    text-decoration:none !important;
    background-color: var(--pink);
    color:#240134 !important;
    padding: 15px;
    border-radius: 15px;
    
}
.btn,.btnC:hover{
    background-color: var(--pink);
    color: #240134 !important;
    transition:all 0.2s;
    border: none;
}

