<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-5">
                    <div class="row">

                        <div class="col-lg" id="tulkas">
                            <h4 class="text-center my-2" style="color: #ff79c6;">Faça seu cadastro</h4>

                            <form class="form-cadastro" action="/cadastro/register" method="POST">
                                <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                                <div class="form-group">
                                    <label style="color: #ff79c6;">Nome</label>
                                    <input style="color:#e52bcb; background-color:#323949; border: none;" type="text"
                                        class="form-control" name="nome">
                                </div>
                                <div class="form-group">
                                    <label style="color: #ff79c6;">Sobrenome</label>
                                    <input style="color:#e52bcb; background-color:#323949; border: none;" type="text"
                                        class="form-control" name="sobrenome">
                                </div>
                                <div class="form-group">
                                    <label style="color: #ff79c6;">Seu e-mail</label>
                                    <input style="color:#e52bcb; background-color:#323949; border: none;" type="email"
                                        class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label style="color: #ff79c6;">Sua senha</label>
                                    <input style="color:#e52bcb; background-color:#323949; border: none;"
                                        type="password" class="form-control" name="password">
                                </div>
                                <div class="form-group">
                                    <label style="color: #ff79c6;">Sua Idade</label>
                                    <input style="color:#e52bcb; background-color:#323949; border: none;" type="number"
                                        class="form-control" name="idade" max="130" min="13" value="13">
                                </div>
                                <div class="form-group">
                                    <label style="color: #ff79c6;">Seu sexo</label>
                                    <select style="color:#e52bcb; background-color:#323949; border: none;" name="sexo"
                                        class="form-select" aria-label="Default select example">
                                        <option selected>Omitir</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Feminino">Feminino</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">CRIAR CONTA</button>
                            </form>

                        </div>

                    </div>
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>
        <%- include('includes/footer') %>