<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

 <div class="container">
    <div class="row my-5" >
        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 my-5">
            <h1 class="display-4 text-center my-5" style="color: blue;">Você precisa logar para acessar</h1>
            <%- include('includes/messages.ejs') %>
        </div>
        
        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer') %>